<!--The content below is only a placeholder and can be replaced.-->

<div align="center">
  <img style="width: 75%; height: 200px;" alt="Angular Logo" src="../assets/imagenes/a3.jpg">

</div>
<nav class="navbar navbar-expand-sm bg-dark"  >
  
  <!-- Links -->
  <ul class="navbar-nav"  >
      <li  style="width: 90px ;">
          <a class="dropdown-item"  (click)="consultaInicio()"><strong><i><font face="Arial,Verdana" size=6&gt; color="White" >Raíz</font></i></strong></a>
        </li>
        <li  style="width: 90px ;"></li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <strong><i><font face="Arial,Verdana" size=5&gt; color="White" >Aerolínea </font></i></strong>
            
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item"  (click)="botonAvianca()"><strong><i><font face="Arial,Verdana" size=5&gt; color="Black" >Avianca </font></i></strong></a>
            <a class="dropdown-item"  (click)="botonIberia()"><strong><i><font face="Arial,Verdana" size=5&gt; color="Black" >Iberia </font></i></strong></a>
            <a class="dropdown-item"  (click)="botonTame()"><strong><i><font face="Arial,Verdana" size=5&gt; color="Black" >Tame </font></i></strong></a>
            
          </div>
        </li>
        <li  style="width: 90px ;">
          </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <strong><i><font face="Arial,Verdana" size=5&gt; color="White" >Tipo </font></i></strong>
              
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item"  (click)="botonAvionTerrestre()"><strong><i><font face="Arial,Verdana" size=5&gt; color="Black" >Avión terrestre </font></i></strong></a>
                <a class="dropdown-item"  (click)="botonHidroavion()"><strong><i><font face="Arial,Verdana" size=5&gt; color="Black" >Hidroavión </font></i></strong></a>
                <a class="dropdown-item"  (click)="botonAnfibio()"><strong><i><font face="Arial,Verdana" size=5&gt; color="Black" >Anfibio </font></i></strong></a>
             
            </div>
          </li>
          <li  style="width: 90px ;">
            </li>
  </ul>

      <input [(ngModel)]="nombreAvion" class="form-control mr-sm-2" type="search" placeholder="Nombre" aria-label="Search" style="width: 200px ;">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="buscarNombre()">Buscar</button>
    
</nav>



<!--
<div  align="center" *ngIf="mostrarRama == false">  
    <app-rama1></app-rama1>
    <br>
    <button type="button" class="btn btn-primary" (click)="refrescar()">Return</button>
    </div>
-->
    <br>

<div *ngIf="articuloElegido == false">
      <div class="grid-container" >
 


        <div class="grid-item" *ngFor="let message of messages">
            <img width="280px" height="280px"  src={{message.imagen1}} (click)="articuloSelect(message.imagen1,message.imagen2,message.imagen3,message.imagen4,message.nombre,message.tipo,message.aerolinea,message.precio)">
            <table align="center">
                <td>
                   <tr width="100px" height="100px"><strong><i><font face="Arial,Verdana" size=4&gt; color="Black" >{{message.nombre}}<br>{{message.precio}}</font></i></strong></tr>
                   <strong><i><font face="Arial,Verdana" size=5&gt; color="Red" >{{message.destacado}} </font></i></strong>
                
                </td>
             </table>
           
            
    
        </div>
    
        
    
       
    </div>
  </div>
  
  <div class="grid-container2"  *ngIf="articuloElegido == true">



    <div class="container">
        <div class="row">
          <div class="col-md-2">
          </div>
          
            <ngb-carousel *ngIf="images">
              <ng-template  ngbSlide>
                <img  width="500px" height="500px" [src]="images[0]" alt="Random first slide">
                <div class="carousel-caption" >
              <!--    <h3>2 seconds between slides...</h3>
                  <p>This carousel uses customized default values.</p> -->
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img width="500px" height="500px" [src]="images[1]" alt="Random second slide">
                <div class="carousel-caption">
        
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img width="500px" height="500px" [src]="images[2]"  alt="Random third slide">
                <div class="carousel-caption">
         
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img width="500px" height="500px" [src]="images[3]" alt="Random fourth slide">
                <div class="carousel-caption">
             
                </div>
              </ng-template>
            </ngb-carousel>
                 <div class="col-md-2">
          </div>
        
      </div>


  </div>
  <div>
    <h4 style="color:red;">Nombre</h4>
      <strong><i><font face="Arial,Verdana" size=7&gt; color="Black" > {{nombre}} </font></i></strong><br>
      <h4 style="color:red;">Tipo</h4>
      <strong><i><font face="Arial,Verdana" size=7&gt; color="Black" > {{tipo}} </font></i></strong><br>
      <h4 style="color:red;">Aerolinea</h4>
      <strong><i><font face="Arial,Verdana" size=7&gt; color="Black" > {{aerolinea}} </font></i></strong><br>
      <h4 style="color:red;">Precio</h4>
      <strong><i><font face="Arial,Verdana" size=7&gt; color="Black" > {{precio}} </font></i></strong><br>
    <br>
      <button type="button" class="btn btn-primary" (click)="articuloSelect()">Regresar</button>
      
  </div>
</div>

<!--
<br>

  <div class="form-group row" style="left: 300px" align="center">
  <table>
<td>
  
    <tr>     <input  type="file" name="image" (change)="onFileChanged1($event)">
      <div class="info" *ngIf="filePreview1">
          <img width="280px" height="280px" src="{{filePreview1}}"/>
      </div>
      </tr>
      <tr>     <input  type="file" name="image" (change)="onFileChanged2($event)">
        <div class="info" *ngIf="filePreview2">
            <img width="280px" height="280px" src="{{filePreview2}}"/>
        </div>
        </tr>


</td>
<td>
    <tr>     <input  type="file" name="image" (change)="onFileChanged3($event)">
      <div class="info" *ngIf="filePreview3">
          <img width="280px" height="280px" src="{{filePreview3}}"/>
      </div>
      </tr>
      <tr>     <input  type="file" name="image" (change)="onFileChanged4($event)">
        <div class="info" *ngIf="filePreview4">
            <img width="280px" height="280px" src="{{filePreview4}}"/>
        </div>
        </tr>
</td>
  </table>
  <br>
  <div>
    <label>name:
      <input [(ngModel)]="nombreAvion" placeholder="name"/>
    </label>
    <button type="button" class="btn btn-primary" (click)="fin()">Enviar</button>
      
  </div>

<br>
-->
<div class="grid-container3" align="center" >
 
    <strong><i><font face="Arial,Verdana" size=8&gt; color="White" >Contactanos</font></i></strong>
   
    <br>
<tr>
  <td>

      <a href="https://www.facebook.com/luisivan.enriquez" >
        
          <img  width="350px" height="100px" src="../assets/imagenes/fa.png">
         
      </a>
    
  </td>
  <td>
      <a href="https://api.whatsapp.com/send?phone=593997630505" >
              
        <img  width="100px" height="100px" src="../assets/imagenes/wh.png">
       
    </a>
  </td>
 
</tr>
<tr>
    <br>
  </tr>
    <tr>
      
        <td>
            <img  width="100px" height="100px" src="../assets/imagenes/co.png">
            <strong><i><font face="Arial,Verdana" size=7&gt; color="White" >wwe@gmail.com</font></i></strong>
        </td>
        <td>
                         
            <img  width="100px" height="100px" src="../assets/imagenes/te.png">
            <strong><i><font face="Arial,Verdana" size=7&gt; color="White" >09 9763 0505</font></i></strong>
                
      </td>
    </tr>
      <table align="center">
      
       </table>
     
      


  

 
</div>
  