<!--The content below is only a placeholder and can be replaced.-->

<div align="center">
  <img style="width: 75%; height: 200px;" alt="Angular Logo" src="../assets/imagenes/a3.jpg">

</div>
<nav class="navbar navbar-expand-sm bg-dark"  >
  
  <!-- Links -->
  <ul class="navbar-nav"  >
      <li  style="width: 90px ;">
        </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <strong><i><font face="Arial,Verdana" size=5&gt; color="White" >Aerolínea </font></i></strong>
            
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item"  (click)="botonAvianca()"><strong><i><font face="Arial,Verdana" size=5&gt; color="Black" >Avianca </font></i></strong></a>
            <a class="dropdown-item"  (click)="botonIberia()"><strong><i><font face="Arial,Verdana" size=5&gt; color="Black" >Iberia </font></i></strong></a>
            <a class="dropdown-item"  (click)="botonTame()"><strong><i><font face="Arial,Verdana" size=5&gt; color="Black" >Tame </font></i></strong></a>
            
          </div>
        </li>
        <li  style="width: 90px ;">
          </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <strong><i><font face="Arial,Verdana" size=5&gt; color="White" >Tipo </font></i></strong>
              
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item"  (click)="botonAvionTerrestre()"><strong><i><font face="Arial,Verdana" size=5&gt; color="Black" >Avión terrestre </font></i></strong></a>
                <a class="dropdown-item"  (click)="botonHidroavion()"><strong><i><font face="Arial,Verdana" size=5&gt; color="Black" >Hidroavión </font></i></strong></a>
                <a class="dropdown-item"  (click)="botonAnfibio()"><strong><i><font face="Arial,Verdana" size=5&gt; color="Black" >Anfibio </font></i></strong></a>
             
            </div>
          </li>
          <li  style="width: 90px ;">
            </li>
  </ul>
  
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="width: 200px ;">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    
</nav>



<!--
<div  align="center" *ngIf="mostrarRama == false">  
    <app-rama1></app-rama1>
    <br>
    <button type="button" class="btn btn-primary" (click)="refrescar()">Return</button>
    </div>
-->
    <br>

<div>
      <div class="grid-container" >
 


        <div class="grid-item" *ngFor="let message of messages">
            <img width="280px" height="280px"  src={{message.imagen1}}>
            <table align="center">
                <td>
                   <tr width="100px" height="100px"><strong><i><font face="Arial,Verdana" size=4&gt; color="Black" >{{message.nombre}}<br>{{message.precio}}</font></i></strong></tr>
                   <div *ngIf="message.destacado == true">
                    <img style="width: 10px; height: 10px;"  src="../assets/imagenes/a3.jpg">
                   </div>
                   
                </td>
             </table>
           
            
    
        </div>
    
        
    
       
    </div>
  </div>